#form-container {
    float: left;
    width: 800px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    margin-left: 500px;

    border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: 50px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 10px;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

input:invalid {
    background: rgba(255,0,0,0.1);
}


select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    border-radius: 50px;
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;

    transition: all 0.2s ease-in-out;
    transform: scale(1);
    background-color: #282828;
}

button:hover {
    background-color: #1d2021;
    border-radius: 20px;
}

button:active {
    transform: scale(0.9);
}

small {
    color: red;
}

/*
.result {
    float: left;

    padding-top: 35px;
    padding-left: 50px;
}
*/
